process {
    withName: ".*gseapy" {
        ext.when = { params.gseapy.run_gseapy == true }
		ext.organism = { params.common_name }
    }
	withName: ".*gprofiler" {
		ext.when = { params.gprofiler.run_gprofiler == true }
		ext.organism = { params.gprofiler_name }
	}	
	withName: ".*GSEA_dotplot" {
        ext.x_column = "NES"
		ext.y_column = "Term"
		ext.plot_type = "dotplot"
		ext.split_columns = "Source, Library, Enrichment"
		ext.hue_column = "-logPadj"
		ext.size_column = "Overlap %"
		ext.pvalue_column = "FDR q-val"
    }
	withName: ".*GSEA_barplot" {
        ext.x_column = "NES"
		ext.y_column = "Term"
		ext.plot_type = "barplot"
		ext.split_columns = "Source, Library, Enrichment"
		ext.hue_column = "-logPadj"
		ext.pvalue_column = "FDR q-val"
    }
	withName: ".*ORA_dotplot" {
        ext.x_column = "Odds Ratio"
		ext.y_column = "Term"
		ext.plot_type = "dotplot"
		ext.split_columns = "Source, Library, Expression"
		ext.hue_column = "-logPadj"
		ext.size_column = "Overlap %"
		ext.pvalue_column = "Adjusted P-value"
    }
	withName: ".*ORA_barplot" {
        ext.x_column = "Combined Score"
		ext.y_column = "Term"
		ext.plot_type = "barplot"
		ext.split_columns = "Source, Library, Expression"
		ext.hue_column = "-logPadj"
		ext.pvalue_column = "Adjusted P-value"
    }
	withName: ".*gprofiler_dotplot" {
        ext.x_column = "Fold Enrichment"
		ext.y_column = "name"
		ext.plot_type = "dotplot"
		ext.split_columns = "database, Expression"
		ext.hue_column = "precision"
		ext.size_column = "recall"
		ext.pvalue_column = "p_value"
    }
	withName: ".*gprofiler_barplot" {
        ext.x_column = "Fold Enrichment"
		ext.y_column = "name"
		ext.plot_type = "barplot"
		ext.split_columns = "database, Expression"
		ext.hue_column = "-logPadj"
		ext.pvalue_column = "p_value"
    }
}