process {
    withName: "gseapy" {
        ext.when = { params.gseapy.run_gseapy == true }
		container = "quay.io/biocontainers/gseapy:1.1.11--py311h5e00ca1_1"
		ext.organism = { params.common_name }
    }
	withName: "gprofiler" {
		ext.when = { params.gseapy.run_gprofiler == true }
		container = "quay.io/umassbio/requests:2.31.0--0"
		ext.organism = { params.gprofiler_name }
	}
	withLabel: "ghostscript" {
        container = "quay.io/biocontainers/ghostscript:9.18--1"
    }
	withLabel: "seaborn" {
        container = "quay.io/biocontainers/seaborn:0.13.2"
    }
	
	withName: ".*GSEA_dotplot_enrichment_plot" {
        ext.x_column = "NES"
		ext.y_column = "Term"
		ext.plot_type = "dotplot"
		ext.split_columns = "Source, Library, Enrichment"
		ext.hue_column = "-logPadj"
		ext.palette = "viridis"
		ext.size_column = "Overlap %"
		ext.pvalue_column = "FDR q-val"
    }
	withName: ".*GSEA_barplot_enrichment_plot" {
        ext.x_column = "NES"
		ext.y_column = "Term"
		ext.plot_type = "barplot"
		ext.split_columns = "Source, Library, Enrichment"
		ext.hue_column = "-logPadj"
		ext.palette = "viridis"
		ext.pvalue_column = "FDR q-val"
    }
	withName: ".*ORA_dotplot_enrichment_plot" {
        ext.x_column = "Odds Ratio"
		ext.y_column = "Term"
		ext.plot_type = "dotplot"
		ext.split_columns = "Source, Library, Expression"
		ext.hue_column = "-logPadj"
		ext.palette = "viridis"
		ext.size_column = "Overlap %"
		ext.pvalue_column = "Adjusted P-value"
    }
	withName: ".*ORA_barplot_enrichment_plot" {
        ext.x_column = "Combined Score"
		ext.y_column = "Term"
		ext.plot_type = "barplot"
		ext.split_columns = "Source, Library, Expression"
		ext.hue_column = "-logPadj"
		ext.palette = "viridis"
		ext.pvalue_column = "Adjusted P-value"
    }
	withName: ".*gprofiler_dotplot" {
        ext.x_column = "Fold Enrichment"
		ext.y_column = "name"
		ext.plot_type = "dotplot"
		ext.split_columns = "database, Expression"
		ext.hue_column = "precision"
		ext.palette = "viridis"
		ext.size_column = "recall"
		ext.pvalue_column = "p_value"
    }
	withName: ".*gprofiler_barplot" {
        ext.x_column = "Combined Score"
		ext.y_column = "name"
		ext.plot_type = "barplot"
		ext.split_columns = "database, Expression"
		ext.hue_column = "-logPadj"
		ext.palette = "viridis"
		ext.pvalue_column = "p_value"
    }
}