process {
    withName: "gseapy" {
        ext.when = { params.gseapy.run_gseapy == true }
		container = "quay.io/biocontainers/gseapy:1.1.11--py311h5e00ca1_1"
    }
	withName: "gprofiler" {
		ext.when = { params.gseapy.run_gprofiler == true }
		container = "quay.io/umassbio/requests:2.31.0--0"
	}
	withLabel: "ghostscript" {
        container = "quay.io/biocontainers/ghostscript:9.18--1"
    }
	withLabel: "seaborn" {
        container = "quay.io/biocontainers/seaborn:0.13.2"
    }
}